@media screen and (min-width:200px) and (max-width:683px) {
    body {
        font-size: 85%;
    }

   
   
    :root {
        --btnradius: 80px;
    --radius: 50px;
    --small-radius: 30px;
    }
   
    .container {
        width: 85%;
    }
  
   

    ul.sub {

        padding: 0 0 0 20px;
    }
    .mobile-only {
        display: block;
      }
   

    .menu-toggle {
        color: #000;
        width: 20px;
    }

    .flex {
        display: flex;
        flex-wrap: wrap
    }

 

    .logo {
        width: 40%;
    }

  
    .flex {
        flex-wrap: wrap;
    }

 
    .logo img {
        max-width: 110px;
    }
    .header.bgcolor .logo img {
        max-width: 170px;
    }
    h1 {
        font-size: 2.8em;
    }
    
    .header-btn {
        display: none;
    }
    header {
        padding: 10px 0;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    h3 {
        font-size: 2em;
    }
    .right-top ul {
        display: none;
    }
    .right-top .language ul {
        display: flex;
    }
    .left-top {
        width: 60%;
    }
    .right-top {
        width: 40%;
    }
    .top-header ul li a img {
        width: 15px;
        height: 15px;
    }
    .top-header ul li {
        margin: 0 15px 0 0;
    }
    .top-header ul li a {
        font-size: 0.8em;
    }
    .banner-text {
        padding: 100px 0 0 0;
        width: 85%;
    }
    .bottom-banner .right {
        width: 100%;
        padding: 50px 0 00;
    }
    .bottom-banner {    
        padding: 100px 0 0 0;   
    }
    .bottom-banner .left {
        width: 100%;
    }
    .banner {
       
        height: 100vh;
        max-height: 1000px;
    }
    .service-flex.white-trans {
        width: 100%;
        padding: 0 0 20px 0;
        justify-content: flex-start;
    }
    .service-flex {
        width: 48%;
        padding: 25px;
    }
    .service-set.flex {
       
        margin: 0 0;
    }
    .full-width-content {
        background-color: rgb(75 139 200 / 81%);
        padding: 35px;
        width: 100%;
        max-width: 100%;
    }
    .full-width .container {
        width: 100%;
    }
    h4 {
        font-size: 1.6em;
    }
    .customer .left {
        width: 100%;
        padding: 50px;
    }
    .left-content {
        padding: 40px 0 0 0;
        max-width: 100%;
    }
    .customer .right {
        width: 100%;
        padding: 50px 50px 100px;
    }
    .customer .right p {
        padding: 20px 00 0;
    }
    .insights .left {
        width: 100%;
    }
    .insights .right {
        width: 100%;  
        margin: 25px 0 0 0;
    }
    .insights .news-letter .flex {
        gap: 2em;
    }
    .insight-set {
        width: 100%;
    }
    .insight-list img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    .news-flex {
        flex-wrap: wrap;
    }
    .news-flex input[type="email"] {
        width: 100%;
        text-align: center;
    }
    .news-flex input[type="submit"] {
        width: 70%;
        margin: 20px 0 0 0;
    }
    .newsletter {
        padding: 50px 0;
    }
    .country-links.first-link {
        padding: 0 0 0 0;
    }
    .logo-sec {
        width: 100%;
    }
    .nav-links {
        width: 100%;
        display: block;
    }
    .nav-links ul {
        margin: 20px 0 0 0;
    }
    .footer {
        width: 100%;
        padding: 50px 0;
    }
    .bottom-footer {
        width: 100%;
        padding: 40px 0 0 0;
    }
    .inner .banner-text {
        padding: 100px 0;
    }
    .two-sec .left {
        width: 100%;
    }
    .two-sec {
        padding: 50px 0;
    }
    .two-sec .right {
        width: 100%;
    }
    .two-sec .flex {
        gap: 20px;
    }
    .direct-contact {
        padding: 50px 0 0 0;
    }
    .direct-contact ul {
       flex-wrap: wrap;
        gap: 10px;
    }
    .inner .banner-text h1 {
        padding: 0 0 0 0;
    }
    .icv-block {
        padding: 50px 0;
    }
    .icv-block .left {
      
        width: 100%;
    }
    .icv-block .right {
    
        width: 100%;
    }
    .icv-block .flex {
        gap: 20px;
    }
    .full-width-content.list a.btn {
        padding: 20px 10px;
    }
    .full-width-content.list a.btn.fill.dark {
        margin: 20px 0;
    }
    .insights {
    padding: 50px 0;
    }
    .about .banner {
        height: 60vh;
    }
    .about .banner-text {
        padding: 100px 0;  
      }
      .content-sec.black-content .bottom-banner {
        padding: 50px 0 0 0;
      }
      .content-sec.black-content .bottom-banner .right {
        width: 100%;
        padding: 20px 0 0 0;
      }
      .two-block-content.black-content .left {
        width: 100%;
    }
    .two-block-content.black-content .right {
        width: 100%;
    }
    .two-block-content .resources-book.flex {
       margin: 0 0 0 0;
    }
    .partner-content .left {
        width: 100%;
    }
    .partner-content .right {
        width: 100%;
    }
    .partner-content .flex {
        gap: 20px;
    }
    .team-box {
        width: 100%;
        padding: 50px 0;
    }
    .team-box .left {
        width: 100%;
    }
    .team-box .right {
        width: 100%;
    }
    .team-white {
        width: 100%;
    }
    .team-box .flex {
        gap: 20px 0;
    }
    .news-letter-block {
        width: 100%;
    }
    .release-img {
        width: 100%;
        padding: 20px;
    }
    .release-content {
        width: 100%;
        padding: 40px;
    }
    .release-img img {
        height: 300px;
    }
    .contact-page-sec .banner {
        padding: 200px 0 0 0;
    }
    .contact-page-sec .banner .left {
        width: 100%;
    }
    .contact-page-sec .banner .right {
        width: 100%;
    }
    .location-block {
        width: 100%;
    }
    .location-sec {
        width: 100%;
        padding: 30px 0 100px 0;
    }
    .service-list-sec ul li a {
        padding: 20px 25px;
        display: block;
        font-size: 1.3em;
    }
    .top-gap {
        padding: 90px 0 0 0;
    }
    .service-list {
        padding: 0 0 0 0;
    }
    .resource-block ul {
        flex-wrap: wrap;
    }
    .resource-content-block {
      
        padding: 30px;
        width: 100%;
    }
    .resource-content-block p {
        padding: 0 0 20px 0;
    }
}

@media screen and (min-width:684px) and (max-width:1024px) {
   body {
        font-size: 85%;
    }
 
   
   
    .container {
        width: 90%;
    }

   
    
    .header header nav li ul li a {
        padding: 0;
    }

    ul.sub {

        padding: 10px 0;
    }



    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        font-size: 4.5em;
    }
    .header {
        padding: 20px 0;
    }
    .header.bgcolor {
        padding: 20px 0;
    }

    
    
}

@media screen and (min-width:1024px) and (max-width:1550px) {

    body {
        font-size: 85%;
    }
 
  
    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1100px;
    }
}